$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$header-border-color: #ECECEC;
$footer-background-color: #2F303A;
$adress-color: rgba(255, 255, 255, 0.6);
$primary-color: #ffffff;
$border-color: #EEEEEE;
$background-color: #F5F4FA;
$color-text-icon: #AFB1B8;
$background-footer-icon: rgba(255, 255, 255, 0.1);
$background-modal-color: rgba(0, 0, 0, 0.1);
$overlay-background-color: rgba(33, 150, 243, 0.902);
$background-gradient-color: rgba(47, 48, 58, 0.4);
$placeholder-color: rgba(117, 117, 117, 0.5);
$form-color:rgba(33, 33, 33, 0.2);
$background-text-color: rgba(47, 48, 58, 0.8);
